/* Downloaded from https://cdn.jsdelivr.net/gh/sunn-us/SUIT@1.2.5/fonts/variable/woff2/SUIT-Variable.css */

@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT@1.2.5/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2-variations');
}